  .right-enter {
    z-index: 1;
    transform: translateX(100%);
  }
  .right-enter.right-enter-active {
    z-index: 1;
    transform: translateX(0);
    transition: transform 600ms;
  }
  .right-exit {
    z-index: 0;
    transform: translateX(0);
    transition: transform 600ms;
  
  }  
  .left-enter {
    z-index: 1;
    transform: translateX(100%);
  }
  .left-enter.left-enter-active {
    z-index: 1;
    transform: translateX(0);
    transition: transform 600ms;
  }
  .left-exit {
    z-index: 0;
    transform: translateX(0);
    transition: transform 600ms;
  
  }